.container{
    display: flex;
    background-color: white;
    margin: 1rem 1rem 3rem 1rem;
    border-radius: 15px;
    gap: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    
}

.info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem 0.5rem;
    border-radius: 20px;
    color: var(--black);
    flex: 1 1 3rem; /* Permite redimensionamento */
    min-width: 1rem; 
}

.container .selected{
    background: rgb(21,221,215);
    background: linear-gradient(150deg, rgba(21,221,215,1) 0%, rgb(32, 170, 234) 90%);
    color: var(--white);
}



.day{
    font-size: 1.2rem;
}
.temperatura{
    font-size: 1rem;
    font-weight: 600;
}

.clima{
    width: 4rem;
}